*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    background-color: #e4f9f5;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
  
}
.profile-image{
    height: 120px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.profile-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #177865;
}
.profile-contact{
    float: right;
    padding: 30px;
}
.profile-contact a{
    text-decoration: none;
    color: #177865;
    font-weight: bold;

}
.profile-contact a:hover{
    text-decoration: underline;
    color: tomato;

}
.clear-div{
    clear: both;
}
hr{
    border: black solid  3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
/*Personal Section Starts*/
.left-div{
    width: 30%;
    float: left;
}
.right-div{
width: 70%;
float: left;
}
/*Educational Section Ends*/
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
/*Educational Section Starts*/
.edu-temp-left{
    width: 45%;
    float: left;
}
.edu-temp-right{
    width: 45%;
    float: right;
}
/*Educational Section Ends*/

/*Footer Section starts*/
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
   color: white;
    text-decoration: none;
    margin:20px;
}
.bottom-container p{
   color: white;
    margin-top: 20px;
}
p{
    text-align: justify;
}
.ul-desiegn ul{
    list-style-type: circle;
    list-style-position: inside;
    text-align: justify;
}